<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="fragments :: head">
</head>


<body class="container">
<h1 th:text="${title}"></h1>
<div th:replace="fragments :: page-header"></div>


<ul>Ordered by Best Average
    <li><a th:href="@{/lists/top100}">Top 100</a></li>
    <li><a th:href="@{/lists/top250}">Top 250</a></li>
    <li><a th:href="@{/lists/allBest}">All</a></li>
</ul>

<ul>Ordered by Worst Average
    <li><a th:href="@{/lists/bottom100}">Bottom 100</a></li>
    <li><a th:href="@{/lists/bottom250}">Bottom 250</a></li>
    <li><a th:href="@{/lists/allWorst}">All</a></li>
</ul>

<ul>Ordered by Year
    <li><a th:href="@{/lists/oldest}">Oldest</a></li>
    <li><a th:href="@{/lists/newest}">Newest</a></li>
</ul>

<ul>Ordered by Alpha
    <li><a th:href="@{/lists/alpha}">All</a></li>
</ul>

</body>
</html>