<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="fragments :: head">
</head>


<body class="container">
<h1 th:text="${title}+' (Total = '+${genres.size()+')'}"></h1>
<div th:replace="fragments :: page-header"></div>
<p th:unless="${genres} and ${genres.size()}">no actors :(</p>

<table class="table">
    <tr>
        <td>Name</td>
        <td>Number of Films</td>
        <td>Average Rating</td>
    </tr>
    <tr th:each="index : ${#numbers.sequence(0,#arrays.length(genres)-1)}">
        <td><a th:href="@{'/genre/view/'+${genres[index].id}}" th:text="${genres[index].name}"></a></td>
        <td th:text="${genres[index].films.size()}"></td>
        <td th:text="${averages[index]}"></td>
    </tr>
</table>

</body>
</html>