<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <!--<link th:href="@{/css/normalize.css}" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link th:href="@{/css/styles.css}" type="text/css" rel="stylesheet" />
</head>
<body>

<nav th:fragment="page-header">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">KOFD</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/add}">Add</a></li>
                <li><a th:href="@{/remove}">Remove</a></li>
                <li><a th:href="@{/lists}">Lists</a></li>
                <li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/director}">Directors</a></li>
                <li><a th:href="@{/country}">Countries</a></li>
                <li><a th:href="@{/actor}">Actors</a></li>
                <li><a th:href="@{/genre}">Genres</a></li>
            </ul>
        </div>
    </div>
</nav>

<table class="table" th:fragment="film-table" id="table-ratings">
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Countries</th>
        <th>Director</th>
        <th>Average</th>
    </tr>
    <tr th:each="film : ${films}">
        <td><a th:text="${film.name}" th:href="@{'/film/'+${film.id}}">Link</a></td>
        <td th:text="${film.year}"></td>
        <td><a th:each="country : ${film.countries}" th:href="@{'/country/view/'+${country.id}}" th:text="${country.name+' '}"></a></td>
        <td><a th:each="director : ${film.directors}" th:href="@{'/director/view/'+${director.id}}" th:text="${director.name+' '}"></a></td>
        <td th:text="${film.average}"></td>
    </tr>
</table>
</body>
</html>