<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="fragments :: head">
</head>


<body class="container">
<h1 th:text="${title}"></h1>
<div th:replace="fragments :: page-header"></div>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Rating</th>
    </tr>
    <tr th:each="film : ${actor.films}" >
        <td><a th:href="@{'/film/'+${film.id}}" th:text="${film.name}"></a></td>
        <td th:text="${film.average}"></td>
    </tr>
</table>

</body>
</html>